---
import SectionContent from "./SectionContent.astro";
import SectionGroup from "./SectionGroup.astro";

import { learnTopics, referenceTopics } from "./i18n/en/nav";

export interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props as Props;
---

<aside class="fixed top-24 left-0 mb-6 mt-2 flex w-[var(--theme-sidebar-width)] flex-col gap-4 border-b-slate-400 p-4">
  <SectionGroup currentPage={currentPage} />
  <nav class="max-h-[100vh] overflow-auto pr-3">
    <ul class="flex flex-col gap-6">
      <SectionContent currentPage={currentPage} type="learn" topics={learnTopics} />
      <SectionContent currentPage={currentPage} type="reference" topics={referenceTopics} />
    </ul>
  </nav>
</aside>
