---
import SectionContent from "./SectionContent.astro";
import SectionGroup from "./SectionGroup.astro";

import { learnTopics, referenceTopics } from "./i18n/en/nav";

export interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props as Props;
---

<aside class="fixed top-24 left-0 mb-6 mt-2 flex w-[var(--theme-sidebar-width)] flex-col gap-4 border-b-slate-400 p-4">
  <SectionGroup currentPage={currentPage} />
  <nav class="select-none text-sm max-h-[75vh] overflow-y-auto overflow-x-hidden pr-3">
    <ul class="flex flex-col gap-6">
      <SectionContent currentPage={currentPage} type="learn" topics={learnTopics} />
      <SectionContent currentPage={currentPage} type="reference" topics={referenceTopics} />
      <div class="border-t-[0.5px]">
        <li
          class={`py-3 pr-6 pl-2 ${
            "dsa" === "community" ? "dark:bg-[#343a46] dark:text-[#149ac9]" : ""
          } rounded-r-lg  transition-opacity duration-1000`}
        >
          <a href={`/en/learn/community`}>Community</a>
        </li>
        <li
          class={`py-3 pr-6 pl-2 ${
            "asd" === "community" ? "dark:bg-[#343a46] dark:text-[#149ac9]" : ""
          } rounded-r-lg  transition-opacity duration-1000`}
        >
          <a href={`/en/learn/community`}>Project</a>
        </li>
      </div>
    </ul>
  </nav>
</aside>
