---
import SectionContent from "./SectionContent.astro";
import SectionGroup from "./SectionGroup.astro";

import { learnTopics, referenceTopics } from "./i18n/en/nav";

export interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props as Props;
---

<aside class="flex flex-col fixed top-24 left-0 p-4 mb-6 mt-2 gap-4 w-[var(--theme-sidebar-width)] border-b-slate-400">
  <SectionGroup currentPage={currentPage} />
  <nav class="pr-3 overflow-auto max-h-[100vh]">
    <ul class="flex flex-col gap-6">
      <SectionContent currentPage={currentPage} type="learn" topics={learnTopics} />
      <SectionContent currentPage={currentPage} type="reference" topics={referenceTopics} />
    </ul>
  </nav>
</aside>
